<!--The content below is only a placeholder and can be replaced.-->
<section id="login">
    <div class="container">
        <div class="row">
           
                <div class="form-wrap">
                  <label for = "firstName">First Name:</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" [value]="firstName">
                    <hr>
                    <label for = "lastName">Last Name:</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" [value]="lastName">
                    <hr>
                    <input type="submit" id="btn-login" class="btn btn-primary btn-lg btn-block" (click)=login() [title]=title>
                    <h1>WELCOME</h1>
                    <h1>{{title}}</h1>
                </div>
            
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>